<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <nav>
    <a href="{{ path('app_index') }}">Home</a>
    <a href="{{ path('app_servers') }}">Servers</a>
    <a href="{{ path('app_guides') }}">Guides</a>
    <a href="{{ path('app_stats') }}">Stats</a>

    {% if app.user -%}
      <a href="{{ path('app_admin') }}">Admin</a>
    {% else %}
      <a href="{{ path('app_login') }}">Login</a>
    {% endif %}
  </nav>
  {% block body %}{% endblock %}
</body>
</html>
