{% extends 'base.html.twig' %}

{% block title %}Mobile Forces website{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
  <div class="grid-container">
    <div class="grid-item a">
      Join the <a href="https://discord.gg/xPcFh7E">Discord server</a> and support MF!<br>
      <br>
      <iframe id="kofiframe" src="https://ko-fi.com/{{ kofi_name }}/?hidefeed=true&widget=true&embed=true&preview=true" style="padding:4px;background:#f9f9f9;" width="400px" height="562px" title="{{ kofi_name }}"></iframe><br>
      One time donations are better, source: <a href="https://help.ko-fi.com/hc/en-us/articles/360002506494-Does-Ko-fi-Take-a-Fee-#01H841GJ8PJb1PXY64231CFHB">Ko-fi fees</a>
    </div>

    <div class="grid-item b">
      <b>Mobile Forces</b> is a first-person shooter video game developed by Rage Software using the Unreal Engine and published by Majesco Entertainment, the game has eight different game modes:<br>
      <br>
      <b>Deathmatch</b> - The goal of this game style is to eliminate all players in the map.<br>
      <b>Team Deathmatch</b> - Similar to Deathmatch, only played in teams - Red and Blue.<br>
      <b>Captains</b> - In this game mode each team gets a captain and it is needed to kill opposing team's leader in order to score a point.<br>
      <b>Capture the flag</b> - In this game type both teams have to steal each other's flags in order to win.<br>
      <b>Holdout</b> - In this game mode both teams are tasked with capturing a single beacon on a map, the team that holds the beacon a set time or the longest wins.<br>
      <b>Detonation</b> - In this game style members of both sides scramble to acquire a keycard located centrally in the map, which must then be taken to a console in the opposing team's base to activate an explosive device to score.<br>
      <b>Safe Cracker</b> - This game type involves the infiltration of the enemy team's base where it is needed to open the safe and retrieve the loot. After the match attackers and defenders switch between each other.<br>
      <b>Trailer</b> - The use of vehicles is integral to success in this team game style, requiring players to drive explosive-laden units into the base of their opponents in order to get points.<br>
      <img width="418px" src="{{ asset('images/mobile-forces.jpg') }}" alt="Mobile Forces">
    </div>

    <div class="grid-item c">
      Balance for {{ 'now' | date('F Y') }}: {{ balance }} / {{ kofi_target }} {{ kofi_currency }}
      <script src="{{ asset('js/css_random.js') }}"></script>
      <ul>
        {% for donation in donations %}
          <li>
            {{ '%02d/%02d/%d %s' | format(donation.day, donation.month, donation.year, donation.time) }}<br>
            {{ donation.name }} donated {{ donation.amount_sent }} {{ kofi_currency }}{% if donation.message %}: {{ donation.message }}{% endif %}
          </li>
        {% endfor %}
      </ul>
      The amount(s) above include the transfer fee which is around 3% + 0.3 {{ kofi_currency }}, the time zone is {{ 'now' | date('T') }}<br>
      <br>
      This server has been up since {{ kofi_startdate | date('d/m/Y H:i:s') }}
    </div>
  </div>
{% endblock %}
