{% extends 'base.html.twig' %}

{% block title %}Mobile Forces website{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
  <div class="grid">
    <div class="a">
      <iframe id="kofiframe" src="https://ko-fi.com/{{ kofi_name }}/?hidefeed=true&widget=true&embed=true&preview=true" height="562px" title="{{ kofi_name }}"></iframe><br>
      One time donations are better: <a href="https://help.ko-fi.com/hc/en-us/articles/360002506494-Does-Ko-fi-Take-a-Fee-#01H841GJ8PJb1PXY64231CFHB">Ko-fi fees</a><br>
      <br>
      Get <a href="https://store.steampowered.com/app/837940/Mobile_Forces/"><b>Mobile Forces on Steam</b></a> now!
    </div>

    <div class="b">
      <img id="logo" width="215px" src="{{ asset('images/MFLogo.png') }}" alt="logo">
      <p><b>Mobile Forces</b> is a video game developed by Rage Software using the Unreal Engine and published by Majesco Entertainment, featuring a combination of first-person shooter and vehicle gameplay in nine different game modes. Join us on <a href="https://discord.gg/xPcFh7E"><b>Discord</b></a>!</p>

      <ol>
        <li><b>Deathmatch</b> - The goal of this game mode is to eliminate all players in the map</li>
        <li><b>Team Deathmatch</b> - Similar to Deathmatch, only played in teams - Red and Blue</li>
        <li><b>Captains</b> - Each team gets a captain and needs to kill the opposing team's leader in order to score points</li>
        <li><b>Capture the flag</b> - Both teams have to steal each other's flags from their base in order to win</li>
        <li><b>Holdout</b> - Both teams are tasked with capturing a single beacon on a central position in the map, the team that holds the beacon a set time or the longest wins</li>
        <li><b>Detonation</b> - Members of both squads scramble to acquire a keycard located somewhere in the map, which must then be taken to a console in the opposing team's base to activate an explosive device to score</li>
        <li><b>Safe Cracker</b> - This mode involves the infiltration of the enemy team's base where it's needed to open the safe and retrieve their gold. After the match attackers and defenders switch between each other</li>
        <li><b>Trailer</b> - The use of vehicles is integral to success in this mode, requiring players to drive explosive-laden units into the base of their opponents in order to get points</li>
        <li><b>Mental Race</b> - Put together by Real Time Worlds as the first mod for the game, the objective in Mental Race is to complete laps of a level, by crossing checkpoints in a race car</li>
      </ol>

      {% if slides %}
        <div class="slides">
          <button id="left">⏴</button>
          {% for slide in slides %}
            <img src="{{ asset(slide) }}" alt="{{ slide }}">
          {% endfor %}
          <button id="right">⏵</button>
        </div>
        <script src="{{ asset('js/slideshow.js') }}"></script>
      {% endif %}
    </div>

    <div class="c">
      Balance for {{ 'now' | date('F Y') }}: {{ kofi_currency }}{{ balance }} of {{ kofi_currency }}{{ kofi_target }}
      <script src="{{ asset('js/css_random.js') }}"></script>
      <ul>
        {% for donation in donations %}
          <li>
            {{ '%02d/%02d/%d %s' | format(donation.day, donation.month, donation.year, donation.time) }}
            {{ donation.name }} donated {{ kofi_currency }}{{ donation.amount_sent }}{% if donation.message %}:<p>{{ donation.message }}</p>{% endif %}
          </li>
        {% endfor %}
      </ul>
      The amounts above include the transfer fee which is about 3% + {{ kofi_currency }}0.3<br>
      <br>
      This server has been up since {{ kofi_startdate | date('d/m/Y H:i:s') }} {{ 'now' | date('T') }}
    </div>
  </div>
{% endblock %}
