{% extends 'base.html.twig' %}

{% block title %}MF statistics{% endblock %}

{% block body %}
  A total of {{ kofi_currency }}{{ sum }} over {{ num }} donations was received for MF<br>
  Approximate net balance:
  {{ balance > 0 ? kofi_currency ~ balance : '-' ~ kofi_currency ~ (-balance) }}
  <br><br>

  Top 10 donators:
  <script src="{{ asset('js/css_random.js') }}"></script>
  <ul>
    {% for donator in donators %}
    <li>
      {{ donator.name }} donated {{ kofi_currency }}{{ donator.amount }} over {{ donator.times }} donation{% if donator.times > 1 -%}s{% endif %}
    </li>
    {% endfor %}
  </ul>
  The amounts above include the transfer fee which is about 3% + {{ kofi_currency }}0.3<br>
  <br>

  Donation activity:
  <table>
    <tr>
      <th>Month</th>
      {% for donation in donations %}
        <td>{{ (donation.year ~ '-' ~ donation.month) | date('M y') }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>Total</th>
      {% for donation in donations %}
        <td>{{ donation.amount }}</td>
      {% endfor %}
    </tr>
  </table>
{% endblock %}
